
.bar {
     align-items:center ; display:flex ;white-space:nowrap;
     
    }
.bar p {
     padding-left: 20px;
     color: rgb(49, 192, 180); 
     font-weight:600;}
.slider {
        -webkit-appearance:none;
        width: 100%;
        height: 10px;
        background: rgb(224, 168, 130);
        outline: none;
        border-radius: 20px;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .7s;
    
  }

  .bar label {padding-right: 10px;
              align-items:center;
              white-space:nowrap;
              align-items:center;
              
              font-weight:600;
              color: rgb(12, 95, 95)  
}

    .slider:hover {
     opacity: 1;
  }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background: rgb(27, 109, 102);
        border:2px solid #dfe4e6;
        border-radius: 50%;
        cursor: cell;
     }
.p{font-weight:600;}
#length{ 
   color: rgb(49, 192, 180);
   background-color:rgb(255, 255, 255);
  }
 
 